include README.md
include LICENSE
recursive-include paladle/ability_names *
recursive-include paladle/talents *
recursive-include paladle/voicelines_audio *
recursive-include paladle/voicelines_text *
include paladle/vcheck
